

# Project: Investigate Medical Appointment No shows Dataset 



## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>

# 1.1 Introduction

The goal of this project is to investigate a dataset of appoinment records for Brasil public hospitals. The data includes some attributes of patients and state if the patients showed up to appointments. The analysis should be focused on finding trends influencing patients to show or not show up to appointments. Using descriptive statistics the following question should be answered: What factors are important for us to know in order to predict if a patient will show up for their scheduled appointment? Predictive analytics is out of scope of this project.

The original problem description and data set can be found here: https://www.kaggle.com/joniarroba/noshowappointments/home
This project was completed as part of Udacity's Data Analyst Nanodegree certification.

This dataset collects information from 100k medical appointments in Brazil and is focused on the question of whether or not

patients show up for their appointment. A number of characteristics about the patient are

PatientId ( identification of a patient )

AppointmentID ( identification of each appointment )

Gender ( it says 'F' if female or 'M' if man )

ScheduledDay ( tells us on what day the patient set up their appointment )

AppointmentDay ( the day of the actuall appointment, when they have to visit the doctor )

Age ( how old is the patient )

Neighbourhood ( indicates the location of the hospital )

Scholarship ( indicates whether or not the patient is enrolled in scholarship )

Hipertension ( indicates if the patient has hipertension )

Diabetes ( indicates if the patient has diabetes )

Alcoholism ( indicates if the patient is an alcoholic )

Handcap ( indicates if the patient is handicaped )

SMS_received ( 1 or more messages sent to the patient)

No-show ( it says ‘No’ if the patient showed up to their appointment, and ‘Yes’ if they did not show up)

<a id='wrangling'></a>

## 1.2 Data Wrangling





### 1.2.1 Reading the dataset

#Use this cell to set up import statements for all of the packages that you plan to use.


#To start the step of preprossing the dataset is neccessary to import some useful Python libraries.

#Numpy: Is a fundamental package to use linear algebra and random number capabilities. See: www.numpy.org/
#Pandas: Is a package to work with relacional data as tables. See: pandas.pydata.org/
#Matplotlib: is a plotting lybrary, usefull to plot statistical graphics. See: www.matplotlib.org
#Seaborn: is a library based on matplotlib that can draw attrative statistical graphics. See: seaborn.pydata.org/index.html

In [20]:
import numpy as np
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv('noshowappointments.csv')

### 1.2.2 Data Assessing

In [22]:
#number of samples 
#Dataset shape
df.shape

(110527, 14)

The Dataset has 110527 record and 14 columns

In [23]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

### General observations

1-The dataset have 110527 observations,14 columns and with no null values. The data types of the variables are divided in 8 integer and 6 object.

2-There are 13 independent variables and one dependent (no_show) in the dataset.

3-The dataset does not contain any missing values (NaNs).

4-The patient_id data type is float but should be int.

5-The scheduled_day and appointment_day columns type should be changed to datetime.

6-The appointment_day has no hour specified (it equals to 00:00:00). We will not be able to analyze if the appointment hour has anything to do with no shows.

7-There could be interesting to know how much time passed between a visit scheduling time and the actual visit time. There is no such data column but this can be calculated from scheduled_day and appointment_day columns.

8-Another interesting question would be how show and no-show appointments are distributed among days of week. To explore this I will calculate a column called appointment_dow.

In [25]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [26]:
# how many null values are there in our dataframe
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [50]:
## check the number of unique values in each column
df.nunique()

Patient_ID                  62299
Appointment_ID             110527
Patient_Sex                     2
Scheduled_Day                 111
Appointment_Day                27
Age                           104
Neighbourhood                  81
Scholarship                     2
Hypertension                    2
Diabetes                        2
Alcoholism                      2
hindrance                       5
SMS_received                    2
No_show                         2
Appointment_Day_of_week         6
Scheduled_Day_of_week           6
dtype: int64

In [51]:
# Check  duplicate rows 
df.duplicated().sum()

0

### 1.2.3 Data Cleaning

In [27]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [28]:
df.rename(columns={'PatientId':'Patient_ID','AppointmentID':'Appointment_ID','Gender':'Patient_Sex',
                     'ScheduledDay':'Scheduled_Day','AppointmentDay':'Appointment_Day',
                     'Hipertension':'Hypertension','Handcap':'hindrance','No-show':'No_show'}, inplace=True)
df.head(5)

,Patient_ID,Appointment_ID,Patient_Sex,Scheduled_Day,Appointment_Day,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,hindrance,SMS_received,No_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [35]:
#cheek data type for Scheduled_day,Appointment_day

print(df['Scheduled_Day'].dtype)
print(df['Appointment_Day'].dtype)

object
object

In [36]:
#Scheduled_day :Convert the type of the variable from categorical to datetime type
#Appointment_day:Convert the type of the variable from categorical to datetime type
df['Scheduled_Day'] = pd.to_datetime(df['Scheduled_Day'])
df['Appointment_Day'] = pd.to_datetime(df['Appointment_Day'])

In [38]:
# verify 
df['Scheduled_Day']= df['Scheduled_Day'].apply(lambda x:x.strftime('%m-%d-%y'))
df['Scheduled_Day'].head(6)

0    04-29-16
1    04-29-16
2    04-29-16
3    04-29-16
4    04-29-16
5    04-27-16
Name: Scheduled_Day, dtype: object

In [39]:
#  also verify :) 
df['Appointment_Day']= df['Appointment_Day'].apply(lambda x:x.strftime('%m-%d-%y'))
df['Appointment_Day'].head(6)

0    04-29-16
1    04-29-16
2    04-29-16
3    04-29-16
4    04-29-16
5    04-29-16
Name: Appointment_Day, dtype: object

In [40]:
#convert Appointment_day ,Scheduled_day to datatime 

df['Appointment_Day'] = pd.to_datetime(df['Appointment_Day'])
df['Scheduled_Day'] = pd.to_datetime(df['Scheduled_Day'])

In [43]:
#Greated Appointment_day_of_week
#converting date to day  name 
#  dt.day_name() ,Return the day of the week.
df['Appointment_Day_of_week'] = df['Appointment_Day'].dt.day_name()
df['Appointment_Day_of_week'].head(6)

0    Friday
1    Friday
2    Friday
3    Friday
4    Friday
5    Friday
Name: Appointment_Day_of_week, dtype: object

In [45]:
#Greated Appointment_day_of_week #Greated Appointment_day_of_week
#converting date to day  name 
#  dt.day_name() ,Return the day of the week.
df['Scheduled_Day_of_week'] = df['Scheduled_Day'].dt.day_name()
df['Scheduled_Day_of_week'].head(6)

0       Friday
1       Friday
2       Friday
3       Friday
4       Friday
5    Wednesday
Name: Scheduled_Day_of_week, dtype: object

In [47]:
#Appointments per day  no show or show Patients
data_table=df.pivot_table(values="Scheduled_Day_of_week", index=["No_show"], columns="Appointment_Day_of_week",aggfunc=np.count_nonzero)
data_table

Appointment_Day_of_week,Friday,Monday,Saturday,Thursday,Tuesday,Wednesday
No_show,,,,,,
No,14982,18025,30,13909,20488,20774
Yes,4037,4690,9,3338,5152,5093

Less no show ,show of patients if the appointment is on saturday

In [52]:

#check no show value count 

df['No_show'].value_counts()

No     88208
Yes    22319
Name: No_show, dtype: int64

In [54]:
#check Diabetes value count
df['Diabetes'].value_counts()

0    102584
1      7943
Name: Diabetes, dtype: int64

In [56]:
#check Hypertension value count
df['Hypertension'].value_counts()

0    88726
1    21801
Name: Hypertension, dtype: int64

In [55]:
#check Scholarship value count
df['Scholarship'].value_counts()

0    99666
1    10861
Name: Scholarship, dtype: int64

In [57]:
# Description of the data
df.describe()

,Patient_ID,Appointment_ID,Age,Scholarship,Hypertension,Diabetes,Alcoholism,hindrance,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])